doctype html

html

	head
		title Exercise Tracker
		meta(charset="utf-8")
		meta(name="description", content="self-help web app")
		meta(http-equiv='X-UA-Compatible', content='IE-edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Language' content='en')
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
		script(src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
	body
		header
			title Exercise Tracker
			
		include ../includes/navbar.pug
		
		div(class="container constrict centered")
			
			div(class="row my-4")
			
				div(class="col-md-8 my-4")
	
					p.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis eros ac turpis dignissim,
						molestie placerat magna lobortis. Aliquam nec rhoncus ante. Class aptent taciti sociosqu ad litora 
						torquent per conubia nostra, per inceptos himenaeos. Ut dapibus metus non tincidunt lobortis.
						Aliquam fringilla enim vestibulum nulla molestie euismod.
					if(!user)
						a(href='/register') Sign Up
						
				if(!user)
				
					div(class="col-md-4 my-4")
				
						p Login
						
						form(action='/login', method='post')
							div(class="form-group")
								label Username:
								input(type='text', class="form-control", name='username', placeholder='username', required)
							div(class="form-group")
								label Password:
								input(type="password", class="form-control", name="password", placeholder='password', required)
							input(type="submit", class="btn btn-primary", name="Submit", value="log in")
			
						p(class="my-4").
							Aliquam tempus accumsan feugiat. Ut a sagittis tellus. Maecenas ac urna sit amet dolor ultrices 
							ornare. Fusce eu tincidunt est. Nulla lobortis blandit rutrum. Donec rhoncus sodales mi. Duis nec 
							mauris magna. Vivamus a tellus quam. Orci varius natoque penatibus et magnis dis parturient montes, 
							nascetur ridiculus mus.
	script.
		$(document).ready(function(){
			$("#home").addClass("disabled");
		});
			