doctype html

html

	head
		title Exercise Tracker
		meta(charset="utf-8")
		meta(name="description", content="self-help web app")
		meta(http-equiv='X-UA-Compatible', content='IE-edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Language' content='en')
		
	body
		header
			title Exercise Tracker
			
	include ../includes/navbar.pug
	
	if user
		h1 Welcome #{username}
	else
		h1 Welcome
	
	p.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis eros ac turpis dignissim,
		molestie placerat magna lobortis. Aliquam nec rhoncus ante. Class aptent taciti sociosqu ad litora 
		torquent per conubia nostra, per inceptos himenaeos. Ut dapibus metus non tincidunt lobortis.
		Aliquam fringilla enim vestibulum nulla molestie euismod.
	
	p.
		For returning users please login
		
	p Login
	form(action='/login', method='post')
		input(type='text', name='username', placeholder='username', required)
		input(type="password", name="password", placeholder='password', required)
		input(type="submit", name="Submit", value="log in")
		
	p.
		Aliquam tempus accumsan feugiat. Ut a sagittis tellus. Maecenas ac urna sit amet dolor ultrices 
		ornare. Fusce eu tincidunt est. Nulla lobortis blandit rutrum. Donec rhoncus sodales mi. Duis nec 
		mauris magna. Vivamus a tellus quam. Orci varius natoque penatibus et magnis dis parturient montes, 
		nascetur ridiculus mus.
		
	a(href='/register') Sign Up