doctype html

html
	head
		title Exercise Tracker
		meta(charset='utf-8')
		meta(name='description' content='journal page exercise tracker')
		meta(http-equiv='X-UA-Compatible', content='IE-edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		header Exercise Journal
		
		include includes/navbar.pug
		
		div#journal
		
		for n, i in exercise_data
			