<DOCTYPE html>

<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="description" content="login page exercise tracker">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv='Content-Language' content='en'>
	</head>
	
	<body>
		<form action='/login', method='post'>
			<input type='text' name='username' placeholder='username' required>
			<input type="password" name="password" placeholder='password' required>
			<input type="submit" name="Submit" value="log in">
		</form>
	</body>