doctype html

html
	head
		title Welcome #{username}
		meta(charset='utf-8')
		meta(name='description' content='exercise tracker profile')
		meta(http-equiv='X-UA-Compatible', content='IE-edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Language' content='en')
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		
	body
	
		include ../includes/navbar.pug
		
		header
			h1 Hi, #{username}!		
		
		
		h2 New Entry
		
		include ../includes/exercise_form.pug			
				
	script.
		$(document).ready(function() {
			$( "#datepicker" ).datepicker();
		});