<DOCTYPE html>

<html>
	<head>
		<title>Register</title>
		<meta charset="utf-8">
		<meta name="description" content="sign up page exercise tracker">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv='Content-Language' content='en'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
	</head>
	
	<body>
		<div class="container">
			<a href="/">Back to home page:</a>
			<h3>Sign Up</h3>
			<form action='/register' method='POST'>
				<div class="form-group">
					<label>Username: </label>
					<input type='text' class="form-control" name='username' placeholder='username' required>
				</div>
				<div class="form-group">
					<label>Password: </label>
					<input type='password' class="form-control" name='password' placeholder='password' required>
				</div>
				<div class="form-group">
					<label>Re-Type Password: </label>
					<input type='password' class="form-control" name='verify_password' placeholder='retype password' required>
				</div>
				
				<div class="form-group">				
					<label>Please select two different security questions and answer them. (Please do not put in real information)</label>
					<div class="form-group">
						<select name='security_question1' class="form-control" required>
							<option selected>What is your mother's maiden name?</option>
							<option>What was the name of your elementary school?</option>
							<option>What was the name of your first pet?</option>
							<option>What is your favorite book?</option>
							<option>What was the first company that you worked for?</option>
							<option>Where did you go to high school/college?</option>
							<option>What is your favorite food?</option>
							<option>What city were you born in?</option>
						</select>
						<input type='text' class="form-control" name='security_answer1' required></input>
					</div>
					<div class="form-group">
						<select name='security_question2'  class="form-control" required>
							<option>What is your mother's maiden name?</option>
							<option selected>What was the name of your elementary school?</option>
							<option>What was the name of your first pet?</option>
							<option>What is your favorite book?</option>
							<option>What was the first company that you worked for?</option>
							<option>Where did you go to high school/college?</option>
							<option>What is your favorite food?</option>
							<option>What city were you born in?</option>
						</select>
						<input type='text' class="form-control" name='security_answer2' required></input>
					</div>
				</div>
				<input type='submit' class="btn btn-primary" name='submit'>
			</form>
		</div>
	
	</body>