<DOCTYPE html>

<html>
	<head>
		<title>Register</title>
		<meta charset="utf-8">
		<meta name="description" content="sign up page exercise tracker">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>	
		<div>
			<h3>Sign Up</h3>
			<form action='/register' method='POST'>
				<input type='text' name='user_name' placeholder='username' required>
				<input type='password' name='password' placeholder='password' required>
				<input type='password' name='verify_password' placeholder='retype password' required>
				<div>
					<select name='security_question1' required>
						<option value='q1'>What is your mother's maiden name?</option>
						<option value='q2'>What was the name of your elementary school?</option>
						<option value='q3'>What was the name of your first pet?</option>
						<option value='q4'>What is your favorite book?</option>
						<option value='q5'>What was the first company that you worked for?</option>
						<option value='q6'>Where did you go to high school/college?</option>
						<option value='q7'>What is your favorite food?</option>
						<option value='q8'>What city were you born in?</option>
					</select>
					<input type='text' name='security_answer1' required></input>
				</div>
				<div>
					<select name='security_question2' required>
						<option value='q1'>What is your mother's maiden name?</option>
						<option value='q2'>What was the name of your elementary school?</option>
						<option value='q3'>What was the name of your first pet?</option>
						<option value='q4'>What is your favorite book?</option>
						<option value='q5'>What was the first company that you worked for?</option>
						<option value='q6'>Where did you go to high school/college?</option>
						<option value='q7'>What is your favorite food?</option>
						<option value='q8'>What city were you born in?</option>
					</select>
					<input type='text' name='security_answer2' required></input>
				</div>
				<input type='submit' name='submit'>
			</form>
		</div>
	
	</body>