ul(class="nav nav-tabs")
	li(class="nav-item")
		a(class="nav-link" href="/") Home
	li(class="nav-item")
		a(class="nav-link" href="/about") About
	li(class="nav-item")
		a(class="nav-link" href="/contact") Contact
	if (user)
		li(class="nav-item")
			a(class="nav-link" href="/profile") Profile
		li(class="nav-item")
			a(class="nav-link" href="/logout") Logout
	else
		li(class="nav-item")
			a(class="nav-link" href='/login') Login